* {
  caret-color: transparent;
}
body {
  margin: 0; /* Reset default body margin */
  display: flex;
  justify-content: center; /* Horizontally center the main container */
  align-items: center; /* Vertically center the main container */
  height: 100vh; /* Set the body height to full viewport height */
}


nav {
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

button{
  cursor:pointer;
}

.main-container {
  display: flex;
  gap: 30px;
}

.grid-container {
  display: inline-grid;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.grid-container > * {
  border: 1px solid black;
}


