* {
  caret-color: transparent;
}
body {
  background-color: #8b9492;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  margin-bottom: 2px;
}
nav {
  padding: 25px 10px;
  margin: 0;
  height: 325px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(241, 237, 247);
  border: 8px solid rgb(220, 53, 69);
  border-radius: 0.5em;
}

.main-container {
  display: flex;
  gap: 30px;
}

.grid-container {
  display: inline-grid;
  width: 700px;
  height: 700px;
  padding: 4px;
  background-clip: content-box;
  background-color: white;
  box-shadow: inset 0 0 0 4px
    rgba(var(--bs-danger-rgb), var(--bs-border-opacity));
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 300px;
}

.grid-container > * {
  border: 0.5px solid black;
}

.custom-bold {
  font-weight: bold; 
  border-width: 2px;
}

/* .mode-container {
  padding: 0 25px;
  height: 250px;
  width: 108.750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(241, 237, 247);
  border: 12px solid rgb(220, 53, 69);
  border-radius: 0.5em;
}

.mode-img {
max-width: 250px;
max-height: 150px;
} */